In [1]:
import pandas as pd

In [2]:
data_file = '../data/mini/origin_data/mini_train_set.csv'

df = pd.read_csv(data_file)

In [3]:
df.head()

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [4]:
len(df['class'].value_counts())

19

In [5]:
X = df.drop(columns=['class'])
y = df[['class']]

In [20]:
from sklearn.model_selection import train_test_split


X_train, X_val, y_train, y_val = train_test_split(X,y, test_size=0.5, stratify=y)

In [25]:
X_train['class'] = y_train
X_val['class'] = y_val

/Users/fengjiaxin/anaconda3/envs/my-rdkit-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/fengjiaxin/anaconda3/envs/my-rdkit-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
X_train.head()

,id,article,word_seg
884,884,7368 7368 1017514 766202 311819 499065 7368 73...,816903 816903 1102525 1016192 816903 816903 71...
153,153,595261 758098 316564 394856 837240 249303 7368...,657335 930754 54111 768219 816903 340401 11900...
557,557,7368 474675 268876 6437 332929 1077049 839598 ...,816903 1275770 1134596 1019141 766772 100078 7...
443,443,622289 622289 828236 1269463 249303 7792 19544...,251194 287730 768219 834740 1038075 825978 142...
404,404,1087134 451877 793630 593192 79747 7368 478919...,610495 203284 1226448 816903 294662 1142736 65...

In [22]:
y_train.head()

     class
884     13
153     13
557      1
443     12
404     19

In [23]:
X_train['class'] = y_train.values

/Users/fengjiaxin/anaconda3/envs/my-rdkit-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
X_train.head()

,id,article,word_seg,class
884,884,7368 7368 1017514 766202 311819 499065 7368 73...,816903 816903 1102525 1016192 816903 816903 71...,13
153,153,595261 758098 316564 394856 837240 249303 7368...,657335 930754 54111 768219 816903 340401 11900...,13
557,557,7368 474675 268876 6437 332929 1077049 839598 ...,816903 1275770 1134596 1019141 766772 100078 7...,1
443,443,622289 622289 828236 1269463 249303 7792 19544...,251194 287730 768219 834740 1038075 825978 142...,12
404,404,1087134 451877 793630 593192 79747 7368 478919...,610495 203284 1226448 816903 294662 1142736 65...,19